.vscode/**
.vscode-test/**
.github/**
.git/**

src/**
tsconfig.json
package-lock.json
.gitignore

**/*.ts
**/*.map

node_modules/.bin/**
node_modules/typescript/**
node_modules/eslint/**
node_modules/@eslint/**
node_modules/@types/**
node_modules/@vscode/**
node_modules/vsce/**
node_modules/@azure/**
node_modules/**/.github/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/__tests__/**
node_modules/**/doc/**
node_modules/**/docs/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/tsconfig.json
node_modules/**/*.md
node_modules/**/*.markdown

remotix-extension-*.vsix
npm-debug.log*
yarn.lock
pnpm-lock.yaml